:root {
    /* Font color */
    --fontColorMain: #fff;
    --fontColorTitle: #333;
    --fontColorMainАdditional: #979797;
    --fontColorLinks: #76c38f;

    /* Font size */
    --fontSizeHeader: 13px;
    --fontSizeTitle: 32px;
    --fontSizeFooterH2: 19px;

    /* Background color */
    --backgroundColorHeader: #2e0000;
    --backgroundColorMain: #600;
    --backgroundColorHover: #76c38f;
    --backgroundColorFooter: #333;
    --backgroundColorForm: #222;
    --backgroundColorServices: #fff;
    --backgroundColorLatestWork: #000;
    --marginLarge: 10%;
    --paddingButton: 8px;
    --borderRadius: 8px;
}

html {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.mainGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

header {
    background: var(--backgroundColorHeader);
    color: var(--fontColorMain);
}

.headerWrap {
    margin-left: var(--marginLarge);
    margin-right: var(--marginLarge);
}

/* @media (min-width: 992px) and (max-width: 1199px) { */
@media (max-width: 1199px) {
    .headerWrap {
        margin-left: 10px;
        margin-right: 0;
    }
}

header .headerWrap::after {
    content: '';
    clear: both;
    display: block;
}

header h1 {
    font-size: 28px;
    float: left;
}

header nav {
    float: right;
    text-transform: uppercase;
}

header ul {
    list-style-type: none;
}

header ul a {
    font-size: var(--fontSizeHeader);
    text-decoration: none;
    color: var(--fontColorMain);
    padding: var(--paddingButton);
}

header ul a:hover {
    background: var(--backgroundColorHover);
    border-radius: var(--borderRadius);
}

header ul li {
    display: inline;
    margin: 30px;
    line-height: 2.5em;
}

@media (max-width: 991px) {
    header h1,
    header nav {
        float: none;
    }

    header ul {
        padding: 0;
    }

    header ul li {
        margin: 10px;
    }
}

.catchyTitleGrid {
    background: var(--backgroundColorHeader);
    color: var(--fontColorMain);
}

.catchyTitle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-left: var(--marginLarge);
    margin-right: var(--marginLarge);
}

.catchyTitleWrap {
    margin-left: var(--marginLarge);
    margin-right: var(--marginLarge);
}

.catchyTitleWrap a {
    width: 8em;
    text-decoration: none;
    color: inherit;
    background: var(--backgroundColorHover);
    line-height: 2.5em;
    text-align: center;
    border-radius: var(--borderRadius);
    padding: var(--paddingButton);
}

.imageHolder {
    background: var(--backgroundColorHeader);
    padding: 30px;
}

.imageHolder img {
    width: 380px;
    border: 26px solid var(--fontColorMainАdditional);
    border-radius: 50%;
}

@media (max-width: 1199px) {
    .catchyTitle {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 991px) {
    .catchyTitle {
        grid-template-columns: repeat(1, 1fr);
    }

    .imageHolder {
        grid-row: 1/2;
    }

    .catchyTitleWrap {
        grid-row: 2/3;
        padding-bottom: 20px;
    }
}

.services {
    background: var(--backgroundColorMain);
    color: var(--fontColorMain);
}

.servicesWrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-items: center;
    align-items: center;
    margin-left: var(--marginLarge);
    margin-right: var(--marginLarge);
}

@media (max-width: 1199px) {
    .servicesWrap {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 991px) {
    .servicesWrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

.servicesDescription {
    color: var(--fontColorMainАdditional);
    background: var(--backgroundColorServices);
    padding: 20px;
    text-align: center;
}

.servicesDescription:hover {
    background: var(--backgroundColorHover);
    color: var(--fontColorMain);
}

.servicesDescription img {
    width: 120px;
    height: 120px;
    background-color: var(--backgroundColorFooter);
}

.servicesDescription .serviceTitle {
    font-size: var(--fontSizeTitle);
    color: var(--fontColorTitle);
    text-transform: uppercase;
}

.servicesDescription:hover .serviceTitle {
    color: var(--fontColorMain);
}

.latestWorkTitle {
    background: var(--backgroundColorMain);
    color: var(--fontColorMain);
    text-align: center;
}

.latestWorkTitleWrap {
    margin-left: var(--marginLarge);
    margin-right: var(--marginLarge);
}

@media (max-width: 1199px) {
    .latestWorkTitleWrap {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.latestWorkTitle hr {
    margin-top: 30px;
}

.latestWorkTitleText {
    width: 7em;
    background: var(--backgroundColorFooter);
    padding: var(--paddingButton);
    border: 1px var(--fontColorMain) solid;
    border-radius: var(--borderRadius);
    text-transform: uppercase;
    font-size: var(--fontSizeTitle);
    margin: 0 auto;
    margin-top: -36px;
}

.latestWorkGrid {
    background: var(--backgroundColorMain);
    color: var(--fontColorMain);
}

.latestWorkWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-items: center;
    align-items: center;
    margin-left: var(--marginLarge);
    margin-right: var(--marginLarge);
}

@media (max-width: 1199px) {
    .latestWorkWrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991px) {
    .latestWorkWrap {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.latestWorDescription {
    width: 100%;
    border: 3px var(--fontColorMain) solid;
    background: var(--backgroundColorLatestWork);
}

.latestWorDescription img {
    width: 100%;
}

.latestWorDescription p {
    text-align: center;
    text-transform: uppercase;
}

footer {
    background: var(--backgroundColorFooter);
    color: var(--fontColorMain);
}

.footerWrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: var(--fontColor-3);
    margin-left: var(--marginLarge);
    margin-right: var(--marginLarge);
}

@media (max-width: 1199px) {
    .footerWrap {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 991px) {
    .footerWrap {
        grid-template-columns: repeat(2, 1fr);
    }

    .footerWrap .footerContactUs {
        justify-self: center;
    }

    .footerWrap .footerQuickLinks {
        padding-left: 40px;
    }
}

.footerWrap h2 {
    color: var(--fontColorMain);
    font-size: var(--fontSizeFooterH2);
    font-weight: 400;
}

.footerQuickLinks a {
    text-decoration: none;
    color: var(--fontColorLinks);
}

.footerContactUs form input[type="text"],
.footerContactUs form textarea {
    border-radius: 5px;
    background-color: var(--backgroundColorForm);
    width: 225px;
    padding: 8px;
    border: none;
    display: block;
    margin-bottom: 7px;
}

.footerContactUs form textarea {
    height: 170px;
}

.footerContactUs form input[type="submit"] {
    border-radius: 5px;
    border: none;
    display: block;
    background: var(--backgroundColorHover);
    width: 140px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}
